:root {
    --dark-brown: hsl(23, 70%, 20%);
    --light-brown: hsl(23, 80%, 85%);
    --fall-gradient: linear-gradient(180deg, rgba(223,139,46,1) 0%, rgba(255,213,43,1) 42%, rgba(255,218,164,1) 89%);
    --logo-text-color: #c9c58a;
}

@font-face {
    font-family: Playpen-Sans;
    src: url(./fonts/Playpen_Sans/static/PlaypenSans-Regular.ttf);
  }

  @font-face {
    font-family: Open-Sans;
    src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
  }

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.link-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    background-color: var(--dark-brown);
    padding: 6px;
    position:sticky;
    top: 0;
    z-index: 1;
}

.logo-link{
    display: flex;
    flex: 1;
}

.logo {
    object-fit: contain;
    flex: 1;
    max-height: 5rem;
}

.links {
    display: flex;
    gap: 8px;
    flex: 1;
}

.links a {
    flex: 1;
    text-align: center;
    background-color: var(--light-brown); 
    border-radius: 5px;
    height: fit-content;
    padding: 8px;
}

a {
    color: var(--dark-brown);
    text-decoration: none;
}

main {
    flex: 1;
    background: var(--fall-gradient);
    padding:10px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vmin;
}

.hero {
    background-image: url('http://images.pexels.com/photos/695207/pexels-photo-695207.jpeg?auto=compress&cs-tinyrgb&dpr=1&w=500');
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.hero-inner {
    box-sizing: border-box;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 80%;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: rgba(235, 232, 221, 0.885);
    text-align: center;
}

h1, h2, h3, ul {
    margin: 0;
    font-family: 'Open-Sans';
}
h1 {
    text-align: center;
    font-size: 2.3rem;
}
p {
    font-family: 'Playpen-Sans';
    font-size: 1.2rem;
    text-indent: 1rem;
}

article {
    width: min(100%, 700px);
    box-sizing: border-box;
    background-color: var(--light-brown);
    display: flex;
    flex-direction: column;
    /* NEW \/ */
    align-items: center;
    justify-content: space-around;
    border: solid 2px;
    border-radius: 16px;
    padding: 1rem;
}
.main-article {
    border-radius: 0;
}
.main-image, .article-image, p, h2 {
    width: min(90%, 500px);
    align-self: center;
}
.attraction-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap: 8px;
}

.attraction-gallery article {
    flex:1;
    min-width: 200px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 18px;
    background-color: var(--dark-brown);
}

.footer-inner {
    padding: 0.5rem 1rem;
    background-color: var(--light-brown);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    overflow: auto;
}

.social-bar {
    display: flex;
    flex-direction: column;
    
}

form, address {
    flex: 1;
} 

address {
    display: flex;
    flex-direction: column;
}

address a, address em, label {
    color: var(--dark-brown);
    text-decoration: none;
}

form h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    align-self: flex-start;
}

button {
    margin-top: 3px;
    height: 2rem;
    border-radius: 6px;
    border: none;
    background-color: #ff6418;
    color: black;
    font-family: 'Open-Sans';
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    transition: all 100ms;
    align-self: center;
}

button:hover {
    font-size: 1.2rem;
    background: #c9c58a;
}

input {
    border-radius: 6px;
    border:  solid 1px rgb(198, 185, 185);
    height: 1.2rem;
    font-size: 0.9rem
}

.secondary-page {
    background: var(--light-brown);
}

/* Make the side the image is on alternate */
.secondary-image {
    width: clamp(100px, 100%, 300px);
    float:left;
    margin: 0px 10px 0px 0px;
}
.right {
    text-align: right;
    float: right;
    margin: 0px 0px 0px 10px;
}

.contact {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding-top: 6px;
    width: 60%;
    text-shadow: .7px .7px black;
}

.pumpkin-container {
    width: min(100vw, 750px);
    height: calc(100vmin/1.2);
    color: white;
    background: url('./images/pumpkin-container.png');
    background-position: center;
    background-size:95%;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.contact h1 {
    font-size: clamp(1rem, 8vw, 4rem);
    text-shadow: 2px 2px black;
}

.contact label {
    font-size: clamp(1rem, 6vw, 2.5rem);
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem
}

.contact input{
    max-width: 100%;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

textarea {
    height: 10%;
}

.ticket-amount {
    width: 2rem;
    text-align: center;
}


.pumpkin-truck {
    display: inline-block;
    height: clamp(1rem, 6vw, 2.5rem);
}